block config
	- var pageTitle = "Page title";
	- var pageDesc = "Page sectionription";
	- var pageKeywords = "Page keywords, words";
	- var headStyles = "header.min.css";
head
	meta(charset='utf-8')

	title #{pageTitle}
	meta(name='description', content=""+pageDesc+"")
	meta(name='keywords', content=""+pageKeywords+"")

	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	meta(property='og:image', content='path/to/image.jpg')
	meta(name="theme-color" content="#000")

	link(rel='icon', href='img/favicon/favicon.ico')
	link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon-180x180.png')
	//<Deject>
	link(rel="stylesheet", href= headStyles)
	//</Deject>
	//Critical css
	style.
		@@include('#{headStyles}')
	//END Critical css
	script.
		var links = {"links": [{"href": "css/fonts.min.css", "rel": "stylesheet"}, {"href": "css/main.min.css","rel": "stylesheet"}]};!function(n,i,e){"use strict";var t=function(n){if("[object Array]"!==Object.prototype.toString.call(n))return!1;for(var e=0;e<n.length;e++){var t=i.createElement("link"),r=n[e];t.href=r.href,t.rel=r.rel,i.head.appendChild(t)}return!0};n.addEventListener?n.addEventListener("load",function(){t(e.links)},!1):n.onload=function(){t(e.links)}}(window,document,links);
